* {
  box-sizing: border-box;
}

.welcome-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

h1 {
  font-family: 'Ubuntu', sans-serif;
}

h3 {
  font-family: 'Architects Daughter', cursive;
}
